{% extends 'base.html' %}
{% block content %}
<section>
    <nav class="navbar">
        <a href="#" class="navbar-brand ps-3">minimal political</a>
        <a href="" class="nav-link">about</a>
    </nav>
</section>
<section>
    <div class="container mx-auto mt-5">
        <h1 class="display-1 text-center">minimal political</h1>
        <h3 class="text-muted text-center mt-5">Search for any current US lawmakers and get their voting records</h1>
        <form action="/lawmaker-results" method="GET" class="mt-5 input-group w-50 mx-auto">
                <input type="text" id="seachbar" class="form-control" placeholder="Search..." name="lawmaker-query" autocomplete="off">
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
{% endblock %}