<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>minimal political</title>
    </head>
    <style>
        body {
            background: rgb(170,232,255);
            background: linear-gradient(45deg, rgba(170,232,255,1) 0%, rgba(255,255,255,1) 72%);      height: 100%;
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;"
        }
    </style>
    <body>
        <nav class="navbar">
            <a href="#" class="navbar-brand ps-3">minimal political</a>
            <a href="" class="nav-link">about</a>
        </nav>
        <div class="container mx-auto mt-5">
            <h1 class="display-1 text-center">minimal political</h1>
            <h3 class="text-muted text-center mt-5">Search for any current US lawmakers and get their voting records</h1>
            <form action="/lawmaker-results" method="GET" class="mt-5 input-group w-50 mx-auto">
                    <input type="text" id="seachbar" class="form-control" placeholder="Search..." name="lawmaker-query" autocomplete="off">
                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>